@import "../../theme.less";

@verticalGutter: 16px;

.Projects {
  .Projects-action-icon {
    font-size: 24px;
  }

  .Projects-card-row {
    margin-bottom: -@verticalGutter;
  }

  .Projects-card {
    border-bottom: 4px solid @primary-color;
    cursor: auto;
    margin-bottom: @verticalGutter;
    text-align: center;

    &:hover {
      border-bottom: 4px solid @primary-color;
      .for-size(laptop-small-up; {transform: translate(0px, -5px) ;});
    }

    a:hover,
    a:active,
    a:focus {
      color: @primary-color;
    }
  }

  .Projects-card-subtitle {
    color: @grey;
    font-size: 13px;
    margin-top: 5px;
    white-space: nowrap;
  }
}
