@import "../../theme.less";

.Bio {
  margin-top: 40px;
}

.Bio-text {
  border-left: 1px solid @light-grey;
  padding-left: 45px;
}

.Bio-picture {
  img {
    border-radius: 100%;
    border: 4px solid @light-grey;
    height: 150px;
    width: 150px;
  }
}
