@import "../../theme.less";

.Home {
  background: url(./img/banner.png) no-repeat scroll 0 0 / cover;
  min-height: 640px;
  position: relative;

  &::before {
    content: "";
    background-color: @main-blue;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 40px 0px;
  }

  .Home-content {
    background-color: #fff;
    border-top: 9px solid @primary-color;
    box-shadow: 0 2px 30px 5px rgba(51, 51, 51, 0.38);
    display: inline-block;
    margin-top: 150px;
    padding: 46px 90px 0 67px;
    position: relative;
    vertical-align: bottom;
    z-index: 10;
  }

  .Home-mugshot {
    // only when collums collapse -> border-bottom: 1px solid @light-grey;
    height: 445px;
    object-fit: none;
    width: 100%;
  }

  .Home-sub-title {
    color: @primary-color;
    display: block;
    font-size: 16px;
    margin: 8px 0px 0px 2px;
  }

  .Home-description {
    padding: 50px 60px 0px 60px;
  }

  .Home-buttons {
    > * {
      margin-right: 25px;
    }
  }
}
