.App {
  align-items: center;
  display: flex;
  height: 50%;

  .App-header {
    color: #95c3ec;
    margin: auto;
    position: relative;
    text-align: center;
    width: 400px;

    &::before {
      animation: wave 1.5s infinite;
      background: url("./waving-hand.png") no-repeat 0px/100%;
      content: "";
      height: 30px;
      position: absolute;
      right: 70px;
      bottom: 8px;
      width: 30px;
    }
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
