@import "../../theme.less";

.Nav {
  .Nav-menu {
    background-color: inherit;
    border: none;
    color: @white;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
  }

  .Nav-item {
    margin-left: 30px;
    padding: 0px;

    &:last-child {
      margin-left: 0px;
    }
  }

  .nav-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
